{% load static %}
{% load menu_tag %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    {% block head %}
    {% endblock %}
    <link type="text/css"  href="{% static 'market/css/base.css' %}" rel="stylesheet" />
    <title>{{title}}</title>
  </head>
  <body>
  <div class="screen">
    {% getcats as cats%}
    {% getmenu as menu %}
    {% block mainmenu %}
<header class="header">
      <div class="container">
        <div class="header_container">
          <a href="/">
            <div class="logo">
            <img src="{% static 'market/images/logo1.svg' %}" alt="V&F" />
            <span class="logo_text">V&F</span>
          </div>
          </a>
          <nav class="nav" id="menu">
            {% for m in menu %}
                <div class="navlink"><a href="{{m.url_name }}" class="navanim">{{m.title}}</a></div>
            {% endfor %}
            <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Category</button>
  <div id="myDropdown" class="dropdown-content">
    {% for cat in cats %}
    <a href="/category/{{cat.slug}}">{{cat}}</a>
    {% endfor %}
  </div>
</div>

            <form  method="get" action="{% url 'main_page' %}">
              {% csrf_token %}
              <input type="text" name="text_search" maxlength="255" required id="id_text_search">
              <input type="submit" name="submit" class="submit" value="Search">
            </form>
          </nav>
          {% if request.user.is_authenticated %}
            <div class="navlink"><a style="color: rgba(118, 161, 83, 1)" href="{% url 'profile' %}" class="navanim" >{{user.username}}</a></div>
          {% else %}
            <a class="navanim" style="color: rgba(118, 161, 83, 1)"  href="{% url 'register' %}">Регистрация</a>
            <a class="navanim" style="color: rgba(118, 161, 83, 1)" href="{% url 'login' %}">Войти</a>
          {% endif %}
        </div>
      </div>
    </header>
  {% endblock mainmenu %}
  {% block content %}
  {% endblock %}
  </div>
  </body>
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{% static 'market/js/base.js'%}"></script>