{% load static %}
{% load menu_tag %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    {% block head %}
    {% endblock %}
    <link type="text/css"  href="{% static 'market/css/base.css' %}" rel="stylesheet" />
    <title>{{title}}</title>
  </head>
  <body>
  <div class="screen">
    {% getmenu as menu %}
    {% block mainmenu %}
<header class="header">
      <div class="container">
        <div class="header_container">
          <a href="/">
            <div class="logo">
            <img src="{% static 'market/images/logo1.svg' %}" alt="V&F" />
            <span class="logo_text">V&F</span>
          </div>
          </a>
          <nav class="nav" id="menu">
            {% for m in menu %}
                <div class="navlink"><a href="{{m.url_name }}" class="navanim">{{m.title}}</a></div>
            {% endfor %}
            <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Category</button>
  <div id="myDropdown" class="dropdown-content">
    {% for cat in category %}
    <a href="category/{{cat.slug}}">{{cat}}</a>
    {% endfor %}
  </div>
</div>

            <form  method="post" action="{{main_page}}">
              {% csrf_token %}
              <input type="text" name=text" class="search" placeholder="Search here!">
              <input type="submit" name="submit" class="submit" value="Search">
            </form>

          </nav>
        </div>
      </div>
    </header>




  {% endblock mainmenu %}

  {% block content %}
  {% endblock %}
  </div>
  </body>
</html>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{% static 'market/js/base.js'%}"></script>