{% extends 'market/base.html' %}
{% load static %}
{% block head %}
        <link type="text/css"  href="{% static 'market/css/basket.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<h1>This is your Basket</h1><br>
<label>Here view your product </label><br>
{% for product in product_basket %}
<div class="product">
        <a href="/product/{{product.product.slug}}"><img src="{{product.product.product_image.url}}" width="100px" height="100px"></a><br>
        <a href="/product/{{product.product.slug}}">{{product.product.product_name}}</a><br>
        <a href="/product/{{product.product.slug}}">{{product.product.product_price}}$</a><br>
        <label>Amount: </label>{{product.amount}}<br>
        {{product.status}}
        <form method="get" action="{% url 'basket' %}">
        <input type="hidden"  name="delete_product_id" value="{{product.id}}">
        <input style="background: #e73939; color: white" type="submit" value="Delete">
        </form>
                <form method="get" action="{% url 'buy_product' %}">
                <input type="hidden"  name="buy_product_id" value="{{product.product.id}}">
                <input style="background: green; color: white" type="submit" value="buy">
                </form>
</div>
{% endfor %}
{% else %}
<label>Need to login first</label><br>
<a style="color: rgba(118, 161, 83, 1)"  href="{% url 'register' %}">Регистрация    </a>
<a  style="color: rgba(118, 161, 83, 1)" href="{% url 'login' %}">Войти</a>
{% endif %}


{% endblock %}