{% extends 'market/base.html' %}
{% load static %}
{% block head %}
        <link type="text/css"  href="{% static 'market/css/buy_product.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

 <a href="/product/{{product.slug}}"><img src="{{product.product_image.url}}" width="100px" height="100px"></a><br>
        <a href="/product/{{product.slug}}">{{product.product_name}}</a><br>
        <a href="/product/{{product.slug}}">{{amount}} x {{product.product_price}}$</a><br>
        <label>Total purchase amount: {{all_price}}</label><br>
<h3>Товар будет отправлен по этому адресу: </h3>
<p>{{profile.country}}</p>
<p>{{profile.city}}</p>
<p>{{profile.address}}</p>

<form method="get" action="{% url 'profile' %}">
        <input type="submit" value="change">
        <input  type="hidden" name="change_profile" value="True">
</form><br>
<form method="get" action="{% url 'buy_product_def' %}">
         <input style="background: #0aa123" type="submit" value="buy">
         <input  value='{{product.id}}' type="hidden" name="change_profile" value="True">
</form>



{% endblock %}