{% extends 'market/base.html' %}
{% load static %}


{% block head %}
  <link type="text/css"  href="{% static 'market/css/main_page.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<input type="hidden" id="user" value="{{request.user}}">
    {% if not search %}
    <h1 class="hot">HOT</h1><br>
    <span class="description">This includes products whose sales exceed 100</span><br>
    {% else %}
        <span class="search_res">Search results:</span><br>
    {% endif %}
<div id="send_favorite">
    {% for product in product_list %}
         <div class="product">
            <a href="/product/{{product.slug}}">{{product.product_name}}</a><br>
            <a href="/product/{{product.slug}}"><img src="{{product.product_image.url}}" width="200px" height="120px"/></a><br>
             <a href="/product/{{product.slug}}"><span>{{product.product_price}}$</span></a><br>
             <span>sales: {{product.sales}}</span>
             <form method="get" action="{% url 'add_basket' %}">
        <input type="hidden" id="product_id" name="add_product_id" value="{{product.id}}">
        <input style="background: greenyellow; color: black" type="submit" value="Basket">
            </form>
             <input type="submit" style="color: #e73939" id="{{product.slug}}" value="favorite">
             <label id="added_{{product.slug}}" style="color: #67de2c; display: none">Added</label>
        </div>
    {% endfor %}
    </div>
{% if text_search %}
<h1>{{text_search}}</h1>
{% endif %}
<script>
 const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/favorite/'
        );
 chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.sus){
                document.querySelector(`#${data.pr_slug}`).style.display = 'none';
                document.querySelector(`#added_${data.pr_slug}`).style.display = 'block'
            }
            else{
                document.querySelector("#favorite-submit").innerHTML = 'false';
            }
        };

        chatSocket.onclose = function() {
            console.error('Chat socket closed unexpectedly');
        };
        document.querySelector('#send_favorite').addEventListener('click', function(e){
        var pr_slug = e.target.id;
        chatSocket.send(JSON.stringify({
                'product_slug': pr_slug,
                'user': document.querySelector('#user').value,
            }));

        });
</script>
{% endblock %}

