{% extends 'market/base.html' %}
{% load static %}


{% block head %}
  <link type="text/css"  href="{% static 'market/css/main_page.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    {% if not search %}
    <h1 class="hot">HOT</h1><br>
    <span class="description">This includes products whose sales exceed 100</span><br>
    {% else %}
        <span class="search_res">Search results:</span><br>
    {% endif %}
    {% for product in product_list %}
         <div class="product">
            <a href="/product/{{product.slug}}">{{product.product_name}}</a><br>
            <a href="/product/{{product.slug}}"><img src="{{product.product_image.url}}" width="200px" height="120px"/></a><br>
            <span>{{product.product_price}}$</span><br>
             <span>sales: {{product.sales}}</span>
        </div>
    {% endfor %}

{% if text_search %}
<h1>{{text_search}}</h1>
{% endif %}
{% endblock %}