{% extends 'market/base.html' %}
{% load static %}

{% block head %}
  <link type="text/css"  href="{% static 'market/css/one_product_view.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<h1>{{one_product.product_name}}</h1>
<img src="{{one_product.product_image.url}}" width="500px" height="420px"/><br>
<span>{{one_product.product_price}}$</span><br>
<span>Описание:</span><br>
<span>{{one_product.product_description}}</span><br>
<span>Производитель:</span><br>
<span>{{one_product.product_manufacturer}}</span><br>
{% if one_product.availability %}
<span>Есть в наличии </span><br>
{% else %}
<span>Нет в наличии </span><br>
{% endif %}
<span>Категория: </span><span>{{one_product.category}}</span><br>
<span>Sales: </span><span>{{one_product.sales}}</span>
<form method="get" action="{% url 'add_basket' %}">
        <input type="hidden"  name="add_product_id" value="{{one_product.id}}">
        <input style="background: greenyellow; color: black" type="submit" value="Basket">
            </form>
{% if reviews %}
<br><h3 style="color: #e73939">Reviews</h3>
{% endif %}
{% for review in reviews %}
<div class="product">
 <img src="{{review.review_user.profile_image.url}}" width="20px" height="20px">{{review.review_user.user.username}} {{review.review_rating}} star<br>
    {% if review.review_image %}<img src="{{review.review_image.url}}" width="100px" height="100px">{% endif %}
    {{review.review_description}}
</div>
{% endfor %}
{% endblock %}

