{% extends 'market/base.html' %}
{% load static %}

{% block head %}
        <link type="text/css"  href="{% static 'market/css/profile.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
{% if not change %}
<form class="decor" method="get" action="{% url 'profile' %}">
<div class="form-left-decoration"></div>
<div class="form-right-decoration"></div>
<div class="circle"></div>
<div class="form-inner">
<p><img src="{{profile.profile_image.url}}" height="120px" width="120px"></p>

<p>{{profile.user.username}}</p>
<p><label >Day of birth: </label>{{profile.birthday}}<p>
<p><label>Country: </label>{{profile.country}}<p>
<p><label>City: </label>{{profile.city}}<p>
<p><label>Address: </label>{{profile.address}}<p>


                <input type="submit" value="change">
                <input type="hidden" name="change_profile" value="True">
        </form>
    </div>
{% if  delivered_product %}

<label class="label_basket">Evaluate the quality of the goods :)</label><br>

{% for product in  delivered_product %}
<div class="delivery">
<img src="{{product.product.product_image.url}}" width="50px" height="50px"><br>
    {{product.product.product_name}}<br>
    <label class="review">Leave feedback</label>
    <form method="get" action="review/{{product.product.slug}}">
        <input type="hidden" name="product_id" value="{{product.product.id}}">
        <input type="hidden" name="buy_product_id" value="{{product.id}}">
        <input type="submit" value="Yes">
    </form>
    <form method="get" action="{% url 'delete_buy_product' %}">
        <input type="hidden" name="buy_product_id" value="{{product.id}}">
        <input type="submit" value="No">
    </form>
    </div>
{% endfor %}
{% endif %}
{% if basket_product %}

<label class="label_basket">Items you have already purchased :)</label><br>
{% for pr_bas in  basket_product %}
<div class="product">
<a href="/product/{{pr_bas.product.slug}}"><img src="{{pr_bas.product.product_image.url}}" width="100px" height="80px"></a><br>
        <a href="/product/{{pr_bas.product.slug}}">{{pr_bas.product.product_name}}</a><br>
        <label>Amount: </label>{{pr_bas.amount}}<br>
        {{pr_bas.delivery.delivery}}
    </div>
{% endfor %}
{% endif %}


        {% else %}

        <form class="decor" method="post" enctype="multipart/form-data">
            {% csrf_token %}
<div class="form-left-decoration"></div>
<div class="form-right-decoration"></div>
<div class="circle"></div>
<div class="form-inner">
<h3>Change Profile</h3>
    <h4>{{profile.user.username}}</h4>
   <img src="{{profile.profile_image.url}}" width="100px" height="100px"><br>
                <input type="file" name="profile_image"  id="id_profile_image"><br>
                {{form.birthday}}<br>
                {{form.country}}<br>
                {{form.city}}<br>
                {{form.address}}<br>
                <input type="submit" value="save">
</div>
</form><br>
        {% endif %}

{% endblock %}
