{% extends 'market/base.html' %}
{% load static %}
{% load buy_product_tag %}
{% block head %}
        <link type="text/css"  href="{% static 'market/css/FeedbackForProductList.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    {% for review in reviews %}
    <div class="product">
 <img src="{{review.review_user.profile_image.url}}" width="20px" height="20px">{{review.review_user.user.username}} {{review.review_rating}} star<br>
        {% if review.review_image %}<a href="{{review.review_image.url}}"><img src="{{review.review_image.url}}" width="100px" height="100px"></a>{% endif %}
    <br>{{review.review_description}}<br>
        <label style="font-size: 14px">{% format_data data=review.create_data %}</label>
</div>
{% endfor %}
<a href="{{ product.get_absolute_url }}">Back to product </a>
{% endblock %}