<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<style>
    a{
        text-decoration: none;
    }

</style>
<body>
  {% for company in all_company %}
  <a href="{{company.get_absolute_url}}"><img src="{{company.logo.url}}"  style="position: absolute" width="100px" height="100px"></a>
  <a href="{{company.get_absolute_url}}"><label style="font-size: 24px; margin-left: 100px; color: black">{{company.name_company}}</label></a>
  <br><br><br><br><br><br><br>
{% endfor %}
</body>
</html>